ServiceCenterProxy/appClientModule/META-INF/wsdl/CBS1215I01_v2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://eai.kasikornbank.com/EAIWS/CBS1215I01/v2" xmlns:s1="http://eai.kasikornbank.com/EAIWS/CBS1215I01/v2">

   <xsd:element name="doService" type="s1:doService"/>
   <xsd:element name="doServiceResponse" type="s1:doServiceResponse"/>

   <xsd:complexType name="doService">
      <xsd:sequence>
         <xsd:element name="CBS1215I01">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" nillable="true" type="s1:stringLength30"/>
                           <xsd:element name="rqUID" nillable="true" type="s1:stringLength47"/>
                           <xsd:element name="rqDt" nillable="true" type="xsd:dateTime"/>
                           <xsd:element name="rqAppId" nillable="true" type="s1:stringLength5"/>
                           <xsd:element name="userId" nillable="true" type="s1:stringLength32"/>
                           <xsd:element name="terminalId" nillable="true" type="s1:stringLength8"/>
                           <xsd:element minOccurs="0" name="userLangPref" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="corrID" nillable="true" type="s1:stringLength32"/>
                           <xsd:element minOccurs="0" name="authUserId" nillable="true" type="s1:stringLength15"/>
                           <xsd:element minOccurs="0" name="authLevel" nillable="true" type="s1:intLength3"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CBSAccount">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="AcctId" nillable="true" type="s1:stringLength10"/>
                           <xsd:element name="RetentionSitnCode" nillable="true" type="s1:stringLength10"/>
                           <xsd:element minOccurs="0" name="RetentionType" nillable="true" type="s1:stringLength1"/>
                           <xsd:element minOccurs="0" name="SubTermNum" nillable="true" type="s1:stringLength3"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CBSNavCntrl">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="MaxRows" nillable="true" type="s1:intLength2"/>
                           <xsd:element minOccurs="0" name="StartInd" nillable="true" type="s1:intLength3"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="doServiceResponse">
      <xsd:sequence>
         <xsd:element name="CBS1215I01Response">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" nillable="true" type="s1:stringLength30"/>
                           <xsd:element name="rqUID" nillable="true" type="s1:stringLength47"/>
                           <xsd:element name="rsAppId" nillable="true" type="s1:stringLength5"/>
                           <xsd:element name="rsUID" nillable="true" type="s1:stringLength47"/>
                           <xsd:element name="rsDt" nillable="true" type="xsd:dateTime"/>
                           <xsd:element name="statusCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="errorVect">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element maxOccurs="10" minOccurs="0" name="error">
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="errorAppId" nillable="true" type="s1:stringLength5"/>
                                             <xsd:element name="errorAppAbbrv" nillable="true" type="s1:stringLength5"/>
                                             <xsd:element name="errorCode" nillable="true" type="s1:stringLength30"/>
                                             <xsd:element name="errorDesc" nillable="true" type="s1:stringLength256"/>
                                             <xsd:element name="errorSeverity" nillable="true" type="s1:stringLength2"/>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="corrID" nillable="true" type="s1:stringLength32"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CBSAccount">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="AcctId" nillable="true" type="s1:stringLength10"/>
                           <xsd:element minOccurs="0" name="retentionsObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" name="retentionsVect">
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element maxOccurs="50" minOccurs="0" name="CBSRetention">
                                                <xsd:complexType>
                                                   <xsd:sequence>
                                                      <xsd:element minOccurs="0" name="CancelAuthUserId" nillable="true" type="s1:stringLength15"/>
                                                      <xsd:element minOccurs="0" name="CancelBranchDesc" nillable="true" type="s1:stringLength50"/>
                                                      <xsd:element minOccurs="0" name="CancelBranchId" nillable="true" type="s1:stringLength4"/>
                                                      <xsd:element minOccurs="0" name="CancelRetentionReason" nillable="true" type="s1:stringLength50"/>
                                                      <xsd:element minOccurs="0" name="CancelUserId" nillable="true" type="s1:stringLength8"/>
                                                      <xsd:element minOccurs="0" name="Concept" nillable="true" type="s1:stringLength100"/>
                                                      <xsd:element minOccurs="0" name="CreateAuthUserId" nillable="true" type="s1:stringLength15"/>
                                                      <xsd:element name="CurCode" nillable="true" type="s1:stringLength3"/>
                                                      <xsd:element minOccurs="0" name="EntryOrigin" nillable="true" type="s1:stringLength50"/>
                                                      <xsd:element name="IndexSeq" nillable="true" type="s1:intLength4"/>
                                                      <xsd:element name="RetentionAmt" nillable="true" type="s1:decimalLength18frictions18_2"/>
                                                      <xsd:element minOccurs="0" name="RetentionCancelDt" nillable="true" type="xsd:date"/>
                                                      <xsd:element minOccurs="0" name="RetentionCancelTime" nillable="true" type="xsd:dateTime"/>
                                                      <xsd:element name="RetentionCreateTime" nillable="true" type="xsd:dateTime"/>
                                                      <xsd:element name="RetentionCreationDt" nillable="true" type="xsd:date"/>
                                                      <xsd:element name="RetentionInd" nillable="true" type="s1:stringLength1"/>
                                                      <xsd:element name="RetentionIndDesc" nillable="true" type="s1:stringLength10"/>
                                                      <xsd:element name="RetentionMatDt" nillable="true" type="xsd:date"/>
                                                      <xsd:element name="RetentionNum" nillable="true" type="s1:stringLength7"/>
                                                      <xsd:element name="RetentionSitnCode" nillable="true" type="s1:stringLength10"/>
                                                      <xsd:element name="RetentionType" nillable="true" type="s1:stringLength2"/>
                                                      <xsd:element name="RetentionTypeDesc" nillable="true" type="s1:stringLength50"/>
                                                      <xsd:element minOccurs="0" name="SubTermNum" nillable="true" type="s1:stringLength3"/>
                                                      <xsd:element name="TransactionDt" nillable="true" type="xsd:date"/>
                                                      <xsd:element name="TrnBranchId" nillable="true" type="s1:stringLength4"/>
                                                      <xsd:element name="TrnBranchName" nillable="true" type="s1:stringLength50"/>
                                                      <xsd:element name="UserId" nillable="true" type="s1:stringLength8"/>
                                                   </xsd:sequence>
                                                </xsd:complexType>
                                             </xsd:element>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="TotalRetentionAmt" nillable="true" type="s1:decimalLength18frictions18_2"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CBSHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="ReqAuthLevel" nillable="true" type="s1:intLength3"/>
                           <xsd:element minOccurs="0" name="ReqAuthUserId" nillable="true" type="s1:stringLength15"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CBSNavCntrl">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="MoreDataInd" nillable="true" type="s1:stringLength1"/>
                           <xsd:element name="NumRec" nillable="true" type="s1:intLength2"/>
                           <xsd:element name="TotalRec" nillable="true" type="s1:intLength3"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="decimalLength18frictions18_2">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="18"/>
         <xsd:fractionDigits value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="intLength2">
      <xsd:restriction base="xsd:int">
         <xsd:totalDigits value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="intLength3">
      <xsd:restriction base="xsd:int">
         <xsd:totalDigits value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="intLength4">
      <xsd:restriction base="xsd:int">
         <xsd:totalDigits value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength1">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength10">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength100">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="100"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength15">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength2">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength256">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength3">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength30">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength32">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="32"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength4">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength47">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="47"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength5">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="5"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength50">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="50"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength7">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="7"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength8">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8"/>
      </xsd:restriction>
   </xsd:simpleType>

</xsd:schema>