ServiceCenterProxy/appClientModule/META-INF/wsdl/CIS1036A01_v1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://eai.kasikornbank.com/EAIWS/CIS1036A01/v1" xmlns:s1="http://eai.kasikornbank.com/EAIWS/CIS1036A01/v1">

   <xsd:element name="doService" type="s1:doService"/>
   <xsd:element name="doServiceResponse" type="s1:doServiceResponse"/>

   <xsd:complexType name="doService">
      <xsd:sequence>
         <xsd:element name="CIS1036A01">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" nillable="true" type="s1:stringLength30"/>
                           <xsd:element name="rqUID" nillable="true" type="s1:stringLength47"/>
                           <xsd:element name="rqDt" nillable="true" type="xsd:dateTime"/>
                           <xsd:element name="rqAppId" nillable="true" type="s1:stringLength5"/>
                           <xsd:element name="userId" nillable="true" type="s1:stringLength32"/>
                           <xsd:element name="terminalId" nillable="true" type="s1:stringLength8"/>
                           <xsd:element minOccurs="0" name="userLangPref" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="corrID" nillable="true" type="s1:stringLength32"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CISHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="userId" nillable="true" type="s1:stringLength6"/>
                           <xsd:element minOccurs="0" name="hubNo" nillable="true" type="s1:stringLength4"/>
                           <xsd:element minOccurs="0" name="brNo" nillable="true" type="s1:stringLength4"/>
                           <xsd:element minOccurs="0" name="confirmFlag" nillable="true" type="s1:stringLength2"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CISCustomer">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="validationFlag" nillable="true" type="s1:stringLength2"/>
                           <xsd:element name="typeCode" nillable="true" type="s1:stringLength1"/>
                           <xsd:element name="num" nillable="true" type="s1:stringLength10"/>
                           <xsd:element name="custTypeCode" nillable="true" type="s1:stringLength4"/>
                           <xsd:element minOccurs="0" name="contactAddrObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" name="num" nillable="true" type="s1:stringLength15"/>
                                    <xsd:element minOccurs="0" name="name" nillable="true" type="s1:stringLength50"/>
                                    <xsd:element minOccurs="0" name="poBox" nillable="true" type="s1:stringLength20"/>
                                    <xsd:element minOccurs="0" name="mailNum" nillable="true" type="s1:stringLength15"/>
                                    <xsd:element minOccurs="0" name="moo" nillable="true" type="s1:stringLength10"/>
                                    <xsd:element minOccurs="0" name="village" nillable="true" type="s1:stringLength40"/>
                                    <xsd:element minOccurs="0" name="building" nillable="true" type="s1:stringLength40"/>
                                    <xsd:element minOccurs="0" name="room" nillable="true" type="s1:stringLength10"/>
                                    <xsd:element minOccurs="0" name="floor" nillable="true" type="s1:stringLength8"/>
                                    <xsd:element minOccurs="0" name="soi" nillable="true" type="s1:stringLength40"/>
                                    <xsd:element minOccurs="0" name="road" nillable="true" type="s1:stringLength40"/>
                                    <xsd:element minOccurs="0" name="tumbol" nillable="true" type="s1:stringLength30"/>
                                    <xsd:element minOccurs="0" name="amphur" nillable="true" type="s1:stringLength30"/>
                                    <xsd:element minOccurs="0" name="province" nillable="true" type="s1:stringLength40"/>
                                    <xsd:element minOccurs="0" name="postCode" nillable="true" type="s1:stringLength5"/>
                                    <xsd:element minOccurs="0" name="cntryCode" nillable="true" type="s1:stringLength2"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="obsContactAddrObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" name="obsAddr1Txt" nillable="true" type="s1:stringLength70"/>
                                    <xsd:element minOccurs="0" name="obsAddr2Txt" nillable="true" type="s1:stringLength105"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="doServiceResponse">
      <xsd:sequence>
         <xsd:element name="CIS1036A01Response">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" nillable="true" type="s1:stringLength30"/>
                           <xsd:element name="rqUID" nillable="true" type="s1:stringLength47"/>
                           <xsd:element name="rsAppId" nillable="true" type="s1:stringLength5"/>
                           <xsd:element name="rsUID" nillable="true" type="s1:stringLength47"/>
                           <xsd:element name="rsDt" nillable="true" type="xsd:dateTime"/>
                           <xsd:element name="statusCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="errorVect">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element maxOccurs="10" minOccurs="0" name="error">
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="errorAppId" nillable="true" type="s1:stringLength5"/>
                                             <xsd:element name="errorAppAbbrv" nillable="true" type="s1:stringLength5"/>
                                             <xsd:element name="errorCode" nillable="true" type="s1:stringLength30"/>
                                             <xsd:element name="errorDesc" nillable="true" type="s1:stringLength256"/>
                                             <xsd:element name="errorSeverity" nillable="true" type="s1:stringLength2"/>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="corrID" nillable="true" type="s1:stringLength32"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CISCustomer">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="num" nillable="true" type="s1:stringLength10"/>
                           <xsd:element minOccurs="0" name="contactAddrObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="num" nillable="true" type="s1:stringLength15"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="stringLength1">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength10">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength105">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="105"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength15">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength2">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength20">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="20"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength256">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength30">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength32">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="32"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength4">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength40">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="40"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength47">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="47"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength5">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="5"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength50">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="50"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength6">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="6"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength70">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="70"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength8">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8"/>
      </xsd:restriction>
   </xsd:simpleType>

</xsd:schema>