ServiceCenterProxy/appClientModule/META-INF/wsdl/CIS1044U01_v1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://eai.kasikornbank.com/EAIWS/CIS1044U01/v1" xmlns:s1="http://eai.kasikornbank.com/EAIWS/CIS1044U01/v1">

   <xsd:element name="doService" type="s1:doService"/>
   <xsd:element name="doServiceResponse" type="s1:doServiceResponse"/>

   <xsd:complexType name="doService">
      <xsd:sequence>
         <xsd:element name="CIS1044U01">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" nillable="true" type="s1:stringLength30"/>
                           <xsd:element name="rqUID" nillable="true" type="s1:stringLength47"/>
                           <xsd:element name="rqDt" nillable="true" type="xsd:dateTime"/>
                           <xsd:element name="rqAppId" nillable="true" type="s1:stringLength5"/>
                           <xsd:element name="userId" nillable="true" type="s1:stringLength32"/>
                           <xsd:element name="terminalId" nillable="true" type="s1:stringLength8"/>
                           <xsd:element minOccurs="0" name="userLangPref" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="corrID" nillable="true" type="s1:stringLength32"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CISHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="brNo" nillable="true" type="s1:stringLength4"/>
                           <xsd:element minOccurs="0" name="confirmFlag" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="hubNo" nillable="true" type="s1:stringLength4"/>
                           <xsd:element name="userId" nillable="true" type="s1:stringLength6"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CISIndivCust">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="addrOffCntctSameCde" nillable="true" type="s1:stringLength1"/>
                           <xsd:element minOccurs="0" name="asstExclLndAmt" nillable="true" type="s1:decimalLength17frictions17_2"/>
                           <xsd:element minOccurs="0" name="brthDate" nillable="true" type="xsd:date"/>
                           <xsd:element minOccurs="0" name="childCnt" nillable="true" type="s1:intLength2"/>
                           <xsd:element minOccurs="0" name="cnstFlg" nillable="true" type="s1:stringLength1"/>
                           <xsd:element minOccurs="0" name="cnstSrcCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="cntctChnlMltCde" nillable="true" type="s1:stringLength20"/>
                           <xsd:element minOccurs="0" name="contactAddrObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" name="amphur" nillable="true" type="s1:stringLength30"/>
                                    <xsd:element minOccurs="0" name="building" nillable="true" type="s1:stringLength40"/>
                                    <xsd:element minOccurs="0" name="cntryDesc" nillable="true" type="s1:stringLength2"/>
                                    <xsd:element minOccurs="0" name="floor" nillable="true" type="s1:stringLength8"/>
                                    <xsd:element minOccurs="0" name="mailNum" nillable="true" type="s1:stringLength15"/>
                                    <xsd:element minOccurs="0" name="moo" nillable="true" type="s1:stringLength10"/>
                                    <xsd:element minOccurs="0" name="name" nillable="true" type="s1:stringLength50"/>
                                    <xsd:element minOccurs="0" name="poBox" nillable="true" type="s1:stringLength20"/>
                                    <xsd:element minOccurs="0" name="postCode" nillable="true" type="s1:stringLength5"/>
                                    <xsd:element minOccurs="0" name="preferedCode" nillable="true" type="s1:stringLength1"/>
                                    <xsd:element minOccurs="0" name="province" nillable="true" type="s1:stringLength40"/>
                                    <xsd:element minOccurs="0" name="road" nillable="true" type="s1:stringLength40"/>
                                    <xsd:element minOccurs="0" name="room" nillable="true" type="s1:stringLength10"/>
                                    <xsd:element minOccurs="0" name="soi" nillable="true" type="s1:stringLength40"/>
                                    <xsd:element minOccurs="0" name="tumbol" nillable="true" type="s1:stringLength30"/>
                                    <xsd:element minOccurs="0" name="village" nillable="true" type="s1:stringLength40"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="contactsObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" name="contactsVect">
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element maxOccurs="2" minOccurs="0" name="CISContact">
                                                <xsd:complexType>
                                                   <xsd:sequence>
                                                      <xsd:element minOccurs="0" name="locationCode" nillable="true" type="s1:stringLength2"/>
                                                      <xsd:element minOccurs="0" name="phAvailTimeCde" nillable="true" type="s1:stringLength2"/>
                                                      <xsd:element minOccurs="0" name="phExtNum" nillable="true" type="s1:stringLength30"/>
                                                      <xsd:element minOccurs="0" name="phNum" nillable="true" type="s1:stringLength20"/>
                                                      <xsd:element minOccurs="0" name="typeCode" nillable="true" type="s1:stringLength2"/>
                                                      <xsd:element minOccurs="0" name="name" nillable="true" type="s1:stringLength50"/>
                                                   </xsd:sequence>
                                                </xsd:complexType>
                                             </xsd:element>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="custSgmtCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="custTypeCode" nillable="true" type="s1:stringLength4"/>
                           <xsd:element minOccurs="0" name="depositCode" nillable="true" type="s1:stringLength1"/>
                           <xsd:element minOccurs="0" name="docNum" nillable="true" type="s1:stringLength15"/>
                           <xsd:element minOccurs="0" name="docTypeCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="eduLevelCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="empCnt" nillable="true" type="s1:intLength6"/>
                           <xsd:element minOccurs="0" name="engFstName" nillable="true" type="s1:stringLength120"/>
                           <xsd:element minOccurs="0" name="engLstName" nillable="true" type="s1:stringLength50"/>
                           <xsd:element minOccurs="0" name="engMidName" nillable="true" type="s1:stringLength60"/>
                           <xsd:element minOccurs="0" name="engTitle" nillable="true" type="s1:stringLength20"/>
                           <xsd:element minOccurs="0" name="familyIncCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="frontReviewFlag" nillable="true" type="s1:stringLength1"/>
                           <xsd:element minOccurs="0" name="idCrdDesc" nillable="true" type="s1:stringLength60"/>
                           <xsd:element minOccurs="0" name="idCrdExpDate" nillable="true" type="xsd:date"/>
                           <xsd:element minOccurs="0" name="idCrdIssuDate" nillable="true" type="xsd:date"/>
                           <xsd:element minOccurs="0" name="idCrdIssuPlaceDesc" nillable="true" type="s1:stringLength30"/>
                           <xsd:element minOccurs="0" name="incomRang" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="KYCObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" name="compltDocFlg" nillable="true" type="s1:stringLength1"/>
                                    <xsd:element minOccurs="0" name="compltDocKYCFlg" nillable="true" type="s1:stringLength1"/>
                                    <xsd:element minOccurs="0" name="KYCBrchCode" nillable="true" type="s1:stringLength4"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="marrStatCode" nillable="true" type="s1:stringLength1"/>
                           <xsd:element minOccurs="0" name="menuAddCode" nillable="true" type="s1:stringLength1"/>
                           <xsd:element minOccurs="0" name="nationCode" nillable="true" type="s1:stringLength3"/>
                           <xsd:element minOccurs="0" name="nmChgBookNum" nillable="true" type="s1:stringLength10"/>
                           <xsd:element minOccurs="0" name="nmChgDate" nillable="true" type="xsd:date"/>
                           <xsd:element minOccurs="0" name="nmChgResnCode" nillable="true" type="s1:stringLength1"/>
                           <xsd:element minOccurs="0" name="nmChgSeqNum" nillable="true" type="s1:stringLength10"/>
                           <xsd:element name="num" nillable="true" type="s1:stringLength10"/>
                           <xsd:element minOccurs="0" name="obsContactAddrObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" name="obsAddr1Txt" nillable="true" type="s1:stringLength70"/>
                                    <xsd:element minOccurs="0" name="obsAddr2Txt" nillable="true" type="s1:stringLength105"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="obsOffclAddrObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" name="obsAddr1Txt" nillable="true" type="s1:stringLength70"/>
                                    <xsd:element minOccurs="0" name="obsAddr2Txt" nillable="true" type="s1:stringLength105"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="occCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="offclAddrObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" name="amphur" nillable="true" type="s1:stringLength30"/>
                                    <xsd:element minOccurs="0" name="building" nillable="true" type="s1:stringLength40"/>
                                    <xsd:element minOccurs="0" name="cntryDesc" nillable="true" type="s1:stringLength2"/>
                                    <xsd:element minOccurs="0" name="floor" nillable="true" type="s1:stringLength8"/>
                                    <xsd:element minOccurs="0" name="mailNum" nillable="true" type="s1:stringLength15"/>
                                    <xsd:element minOccurs="0" name="moo" nillable="true" type="s1:stringLength10"/>
                                    <xsd:element minOccurs="0" name="name" nillable="true" type="s1:stringLength50"/>
                                    <xsd:element minOccurs="0" name="poBox" nillable="true" type="s1:stringLength20"/>
                                    <xsd:element minOccurs="0" name="postCode" nillable="true" type="s1:stringLength5"/>
                                    <xsd:element minOccurs="0" name="preferedCode" nillable="true" type="s1:stringLength1"/>
                                    <xsd:element minOccurs="0" name="province" nillable="true" type="s1:stringLength40"/>
                                    <xsd:element minOccurs="0" name="road" nillable="true" type="s1:stringLength40"/>
                                    <xsd:element minOccurs="0" name="room" nillable="true" type="s1:stringLength10"/>
                                    <xsd:element minOccurs="0" name="soi" nillable="true" type="s1:stringLength40"/>
                                    <xsd:element minOccurs="0" name="tumbol" nillable="true" type="s1:stringLength30"/>
                                    <xsd:element minOccurs="0" name="village" nillable="true" type="s1:stringLength40"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="oldChildAgeCnt" nillable="true" type="s1:intLength2"/>
                           <xsd:element minOccurs="0" name="othProfessDesc" nillable="true" type="s1:stringLength80"/>
                           <xsd:element minOccurs="0" name="positionCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="professCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="profileObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" name="deathDate" nillable="true" type="xsd:date"/>
                                    <xsd:element minOccurs="0" name="deathFlag" nillable="true" type="s1:stringLength1"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="prospectFlag" nillable="true" type="s1:stringLength1"/>
                           <xsd:element minOccurs="0" name="raceCode" nillable="true" type="s1:stringLength3"/>
                           <xsd:element minOccurs="0" name="religionCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="reverseFlag" nillable="true" type="s1:stringLength1"/>
                           <xsd:element minOccurs="0" name="sexCode" nillable="true" type="s1:stringLength1"/>
                           <xsd:element minOccurs="0" name="svcBrchCode" nillable="true" type="s1:stringLength4"/>
                           <xsd:element minOccurs="0" name="taxNum" nillable="true" type="s1:stringLength13"/>
                           <xsd:element minOccurs="0" name="TFBBusTypeCode" nillable="true" type="s1:stringLength9"/>
                           <xsd:element minOccurs="0" name="thFstName" nillable="true" type="s1:stringLength120"/>
                           <xsd:element minOccurs="0" name="thLstName" nillable="true" type="s1:stringLength50"/>
                           <xsd:element minOccurs="0" name="thMidName" nillable="true" type="s1:stringLength60"/>
                           <xsd:element minOccurs="0" name="thTitle" nillable="true" type="s1:stringLength20"/>
                           <xsd:element minOccurs="0" name="titleNameCode" nillable="true" type="s1:stringLength1"/>
                           <xsd:element name="typeCode" nillable="true" type="s1:stringLength1"/>
                           <xsd:element minOccurs="0" name="validationFlag" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="VIPCode" nillable="true" type="s1:stringLength1"/>
                           <xsd:element minOccurs="0" name="workStartDate" nillable="true" type="xsd:date"/>
                           <xsd:element minOccurs="0" name="youngChildAgeCnt" nillable="true" type="s1:intLength2"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="doServiceResponse">
      <xsd:sequence>
         <xsd:element name="CIS1044U01Response">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" nillable="true" type="s1:stringLength30"/>
                           <xsd:element name="rqUID" nillable="true" type="s1:stringLength47"/>
                           <xsd:element name="rsAppId" nillable="true" type="s1:stringLength5"/>
                           <xsd:element name="rsUID" nillable="true" type="s1:stringLength47"/>
                           <xsd:element name="rsDt" nillable="true" type="xsd:dateTime"/>
                           <xsd:element name="statusCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="errorVect">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element maxOccurs="10" minOccurs="0" name="error">
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="errorAppId" nillable="true" type="s1:stringLength5"/>
                                             <xsd:element name="errorAppAbbrv" nillable="true" type="s1:stringLength5"/>
                                             <xsd:element name="errorCode" nillable="true" type="s1:stringLength30"/>
                                             <xsd:element name="errorDesc" nillable="true" type="s1:stringLength256"/>
                                             <xsd:element name="errorSeverity" nillable="true" type="s1:stringLength2"/>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="corrID" nillable="true" type="s1:stringLength32"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CISCustomer">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="num" nillable="true" type="s1:stringLength10"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="decimalLength17frictions17_2">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="17"/>
         <xsd:fractionDigits value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="intLength2">
      <xsd:restriction base="xsd:int">
         <xsd:totalDigits value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="intLength6">
      <xsd:restriction base="xsd:int">
         <xsd:totalDigits value="6"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength1">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength10">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength105">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="105"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength120">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="120"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength13">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="13"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength15">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength2">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength20">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="20"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength256">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength3">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength30">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength32">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="32"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength4">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength40">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="40"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength47">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="47"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength5">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="5"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength50">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="50"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength6">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="6"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength60">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="60"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength70">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="70"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength8">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength80">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="80"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength9">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="9"/>
      </xsd:restriction>
   </xsd:simpleType>

</xsd:schema>