ServiceCenterProxy/appClientModule/META-INF/wsdl/CIS1047O01_v1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://eai.kasikornbank.com/EAIWS/CIS1047O01/v1" xmlns:s1="http://eai.kasikornbank.com/EAIWS/CIS1047O01/v1">

   <xsd:element name="doService" type="s1:doService"/>
   <xsd:element name="doServiceResponse" type="s1:doServiceResponse"/>

   <xsd:complexType name="doService">
      <xsd:sequence>
         <xsd:element name="CIS1047O01">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" nillable="true" type="s1:stringLength30"/>
                           <xsd:element name="rqUID" nillable="true" type="s1:stringLength47"/>
                           <xsd:element name="rqDt" nillable="true" type="xsd:dateTime"/>
                           <xsd:element name="rqAppId" nillable="true" type="s1:stringLength5"/>
                           <xsd:element name="userId" nillable="true" type="s1:stringLength32"/>
                           <xsd:element name="terminalId" nillable="true" type="s1:stringLength8"/>
                           <xsd:element minOccurs="0" name="userLangPref" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="corrID" nillable="true" type="s1:stringLength32"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CISHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="userId" nillable="true" type="s1:stringLength6"/>
                           <xsd:element minOccurs="0" name="hubNo" nillable="true" type="s1:stringLength4"/>
                           <xsd:element minOccurs="0" name="brNo" nillable="true" type="s1:stringLength4"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CISCustomer">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="dataTypeCode" nillable="true" type="s1:stringLength1"/>
                           <xsd:element name="num" nillable="true" type="s1:stringLength10"/>
                           <xsd:element minOccurs="0" name="contactAddrObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="num" nillable="true" type="s1:stringLength15"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="contactsObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" name="contactsVect">
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element maxOccurs="1" minOccurs="0" name="CISContact">
                                                <xsd:complexType>
                                                   <xsd:sequence>
                                                      <xsd:element minOccurs="0" name="typeCode" nillable="true" type="s1:stringLength2"/>
                                                      <xsd:element minOccurs="0" name="seqNum" nillable="true" type="s1:stringLength10"/>
                                                      <xsd:element name="funcTypeCode" nillable="true" type="s1:stringLength1"/>
                                                      <xsd:element minOccurs="0" name="reasonCode" nillable="true" type="s1:stringLength2"/>
                                                      <xsd:element minOccurs="0" name="reasonDesc" nillable="true" type="s1:stringLength100"/>
                                                   </xsd:sequence>
                                                </xsd:complexType>
                                             </xsd:element>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="doServiceResponse">
      <xsd:sequence>
         <xsd:element name="CIS1047O01Response">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" nillable="true" type="s1:stringLength30"/>
                           <xsd:element name="rqUID" nillable="true" type="s1:stringLength47"/>
                           <xsd:element name="rsAppId" nillable="true" type="s1:stringLength5"/>
                           <xsd:element name="rsUID" nillable="true" type="s1:stringLength47"/>
                           <xsd:element name="rsDt" nillable="true" type="xsd:dateTime"/>
                           <xsd:element name="statusCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="errorVect">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element maxOccurs="10" minOccurs="0" name="error">
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="errorAppId" nillable="true" type="s1:stringLength5"/>
                                             <xsd:element name="errorAppAbbrv" nillable="true" type="s1:stringLength5"/>
                                             <xsd:element name="errorCode" nillable="true" type="s1:stringLength30"/>
                                             <xsd:element name="errorDesc" nillable="true" type="s1:stringLength256"/>
                                             <xsd:element name="errorSeverity" nillable="true" type="s1:stringLength2"/>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="corrID" nillable="true" type="s1:stringLength32"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CISCustomer">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="num" nillable="true" type="s1:stringLength10"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="stringLength1">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength10">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength100">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="100"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength15">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength2">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength256">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength30">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength32">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="32"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength4">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength47">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="47"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength5">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="5"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength6">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="6"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength8">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8"/>
      </xsd:restriction>
   </xsd:simpleType>

</xsd:schema>