ServiceCenterProxy/appClientModule/META-INF/wsdl/DataQualityTemplateService.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.dq.kasikornbank.com/" version="1.0" xmlns:tns="http://ws.dq.kasikornbank.com/">
  <xs:complexType name="dataQualityTemplateRequest">
    <xs:complexContent>
      <xs:extension base="tns:baseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="customerProfile" type="tns:customerProfile"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="baseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="header" type="tns:header"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="assetWithoutLand" type="xs:string"/>
      <xs:element minOccurs="0" name="businessCode" type="xs:string"/>
      <xs:element minOccurs="0" name="cisId" type="xs:string"/>
      <xs:element minOccurs="0" name="consentFlag" type="xs:string"/>
      <xs:element minOccurs="0" name="contactAddress" type="tns:address"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="contactEmails" nillable="true" type="tns:contactEmail"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="contactNumbers" nillable="true" type="tns:contactNumber"/>
      <xs:element minOccurs="0" name="customerType" type="xs:string"/>
      <xs:element minOccurs="0" name="customerTypeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="dateOfBirthOrRegistrationDate" type="xs:string"/>
      <xs:element minOccurs="0" name="documentType" type="xs:string"/>
      <xs:element minOccurs="0" name="educationLevelOfDependant" type="xs:string"/>
      <xs:element minOccurs="0" name="expireDate" type="xs:string"/>
      <xs:element minOccurs="0" name="gender" type="xs:string"/>
      <xs:element minOccurs="0" name="idCardNoOrRegistrationNo" type="xs:string"/>
      <xs:element minOccurs="0" name="issueBy" type="xs:string"/>
      <xs:element minOccurs="0" name="issueDate" type="xs:string"/>
      <xs:element minOccurs="0" name="marriageStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="nameEng" type="tns:name"/>
      <xs:element minOccurs="0" name="nameThai" type="tns:name"/>
      <xs:element minOccurs="0" name="nationalityCode" type="xs:string"/>
      <xs:element minOccurs="0" name="noOfEmployee" type="xs:string"/>
      <xs:element minOccurs="0" name="occupationCode" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="otherAddresses" nillable="true" type="tns:address"/>
      <xs:element minOccurs="0" name="position" type="xs:string"/>
      <xs:element minOccurs="0" name="professionCode" type="xs:string"/>
      <xs:element minOccurs="0" name="professionOther" type="xs:string"/>
      <xs:element minOccurs="0" name="raceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="registrationAddress" type="tns:address"/>
      <xs:element minOccurs="0" name="salary" type="xs:string"/>
      <xs:element minOccurs="0" name="sourceOfConsent" type="xs:string"/>
      <xs:element minOccurs="0" name="workAddress" type="tns:address"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
      <xs:element minOccurs="0" name="amphurCode" type="xs:string"/>
      <xs:element minOccurs="0" name="building" type="xs:string"/>
      <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="districtCode" type="xs:string"/>
      <xs:element minOccurs="0" name="floor" type="xs:string"/>
      <xs:element minOccurs="0" name="moo" type="xs:string"/>
      <xs:element minOccurs="0" name="number" type="xs:string"/>
      <xs:element minOccurs="0" name="place" type="xs:string"/>
      <xs:element minOccurs="0" name="poBox" type="xs:string"/>
      <xs:element minOccurs="0" name="postcode" type="xs:string"/>
      <xs:element minOccurs="0" name="provinceCode" type="xs:string"/>
      <xs:element minOccurs="0" name="road" type="xs:string"/>
      <xs:element minOccurs="0" name="room" type="xs:string"/>
      <xs:element minOccurs="0" name="soi" type="xs:string"/>
      <xs:element minOccurs="0" name="village" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contactEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="location" type="tns:locationType"/>
      <xs:element minOccurs="0" name="mail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contactNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="ext" type="xs:string"/>
      <xs:element minOccurs="0" name="location" type="tns:locationType"/>
      <xs:element minOccurs="0" name="number" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="tns:contactType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="name">
    <xs:sequence>
      <xs:element minOccurs="0" name="fistName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="middleName" type="xs:string"/>
      <xs:element minOccurs="0" name="titleName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="header">
    <xs:sequence>
      <xs:element minOccurs="0" name="beginTimestamp" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="endTimestamp" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="serviceId" type="xs:string"/>
      <xs:element minOccurs="0" name="sourceConfig" type="xs:string"/>
      <xs:element minOccurs="0" name="sourceSystem" type="xs:string"/>
      <xs:element name="status" type="xs:int"/>
      <xs:element minOccurs="0" name="transactionId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataQualityTemplateResponse">
    <xs:complexContent>
      <xs:extension base="tns:baseResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="contactEmails" nillable="true" type="tns:contactEmailList"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="contactNumbers" nillable="true" type="tns:contactNumberList"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="tns:dqField"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="otherAddresses" nillable="true" type="tns:othetAddressList"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="baseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="header" type="tns:header"/>
      <xs:element minOccurs="0" name="responseStatus" type="tns:responseStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contactEmailList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="tns:dqField"/>
      <xs:element name="seqNo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dqField">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="errors" nillable="true" type="tns:dqError"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dqError">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="desc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contactNumberList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="tns:dqField"/>
      <xs:element name="seqNo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="othetAddressList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="tns:dqField"/>
      <xs:element name="seqNo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseStatus">
    <xs:sequence>
      <xs:element name="responseCode" type="xs:int"/>
      <xs:element minOccurs="0" name="responseMsg" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="locationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="OFFICE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="contactType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MOBILE"/>
      <xs:enumeration value="TELEPHONE"/>
      <xs:enumeration value="FAX"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>