ServiceCenterProxy/appClientModule/META-INF/wsdl/ErrorFormat.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kasikornbank.com/Format" xmlns:tns="http://kasikornbank.com/Format">
    <element name="errorMessage" type="tns:errorMessage"/>
    
    <complexType name="errorMessage">
    	<sequence>
    		<element maxOccurs="1" minOccurs="0" name="errorCode" type="string"/>
    		<element maxOccurs="1" minOccurs="0" name="errorDomain" type="string"/>
    		<element maxOccurs="1" minOccurs="0" name="errorLevel" type="string"/>
    		<element maxOccurs="1" minOccurs="0" name="errorMessage" type="string"/>
    	</sequence>
    </complexType>
</schema>