ORIGWeb/WebContent/WEB-INF/wsdl/ServiceProxyBeanService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions name="ServiceProxyBeanService" targetNamespace="http://webservice.ias.eaf.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.ias.eaf.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.ias.eaf.com/" schemaLocation="ServiceProxyBeanService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAuthentication">
    <part element="tns:getAuthentication" name="parameters"/>
  </message>
  <message name="getAuthenticationResponse">
    <part element="tns:getAuthenticationResponse" name="parameters"/>
  </message>
  <message name="changePassword">
    <part element="tns:changePassword" name="parameters"/>
  </message>
  <message name="changePasswordResponse">
    <part element="tns:changePasswordResponse" name="parameters"/>
  </message>
  <message name="getRole">
    <part element="tns:getRole" name="parameters"/>
  </message>
  <message name="getRoleResponse">
    <part element="tns:getRoleResponse" name="parameters"/>
  </message>
  <message name="getObjectInRole">
    <part element="tns:getObjectInRole" name="parameters"/>
  </message>
  <message name="getObjectInRoleResponse">
    <part element="tns:getObjectInRoleResponse" name="parameters"/>
  </message>
  <message name="getObjectInUser">
    <part element="tns:getObjectInUser" name="parameters"/>
  </message>
  <message name="getObjectInUserResponse">
    <part element="tns:getObjectInUserResponse" name="parameters"/>
  </message>
  <message name="getAccessOfObjectRole">
    <part element="tns:getAccessOfObjectRole" name="parameters"/>
  </message>
  <message name="getAccessOfObjectRoleResponse">
    <part element="tns:getAccessOfObjectRoleResponse" name="parameters"/>
  </message>
  <message name="getAccessOfObjectUser">
    <part element="tns:getAccessOfObjectUser" name="parameters"/>
  </message>
  <message name="getAccessOfObjectUserResponse">
    <part element="tns:getAccessOfObjectUserResponse" name="parameters"/>
  </message>
  <message name="getExcludeUser">
    <part element="tns:getExcludeUser" name="parameters"/>
  </message>
  <message name="getExcludeUserResponse">
    <part element="tns:getExcludeUserResponse" name="parameters"/>
  </message>
  <message name="getIncludeUser">
    <part element="tns:getIncludeUser" name="parameters"/>
  </message>
  <message name="getIncludeUserResponse">
    <part element="tns:getIncludeUserResponse" name="parameters"/>
  </message>
  <message name="getParentOfRole">
    <part element="tns:getParentOfRole" name="parameters"/>
  </message>
  <message name="getParentOfRoleResponse">
    <part element="tns:getParentOfRoleResponse" name="parameters"/>
  </message>
  <message name="getFirstName">
    <part element="tns:getFirstName" name="parameters"/>
  </message>
  <message name="getFirstNameResponse">
    <part element="tns:getFirstNameResponse" name="parameters"/>
  </message>
  <message name="getSurName">
    <part element="tns:getSurName" name="parameters"/>
  </message>
  <message name="getSurNameResponse">
    <part element="tns:getSurNameResponse" name="parameters"/>
  </message>
  <message name="getSizeOfRole">
    <part element="tns:getSizeOfRole" name="parameters"/>
  </message>
  <message name="getSizeOfRoleResponse">
    <part element="tns:getSizeOfRoleResponse" name="parameters"/>
  </message>
  <message name="accessObject">
    <part element="tns:accessObject" name="parameters"/>
  </message>
  <message name="accessObjectResponse">
    <part element="tns:accessObjectResponse" name="parameters"/>
  </message>
  <message name="getSystemID">
    <part element="tns:getSystemID" name="parameters"/>
  </message>
  <message name="getSystemIDResponse">
    <part element="tns:getSystemIDResponse" name="parameters"/>
  </message>
  <portType name="ServiceProxyBeanDelegate">
    <operation name="getAuthentication">
      <input message="tns:getAuthentication"/>
      <output message="tns:getAuthenticationResponse"/>
    </operation>
    <operation name="changePassword">
      <input message="tns:changePassword"/>
      <output message="tns:changePasswordResponse"/>
    </operation>
    <operation name="getRole">
      <input message="tns:getRole"/>
      <output message="tns:getRoleResponse"/>
    </operation>
    <operation name="getObjectInRole">
      <input message="tns:getObjectInRole"/>
      <output message="tns:getObjectInRoleResponse"/>
    </operation>
    <operation name="getObjectInUser">
      <input message="tns:getObjectInUser"/>
      <output message="tns:getObjectInUserResponse"/>
    </operation>
    <operation name="getAccessOfObjectRole">
      <input message="tns:getAccessOfObjectRole"/>
      <output message="tns:getAccessOfObjectRoleResponse"/>
    </operation>
    <operation name="getAccessOfObjectUser">
      <input message="tns:getAccessOfObjectUser"/>
      <output message="tns:getAccessOfObjectUserResponse"/>
    </operation>
    <operation name="getExcludeUser">
      <input message="tns:getExcludeUser"/>
      <output message="tns:getExcludeUserResponse"/>
    </operation>
    <operation name="getIncludeUser">
      <input message="tns:getIncludeUser"/>
      <output message="tns:getIncludeUserResponse"/>
    </operation>
    <operation name="getParentOfRole">
      <input message="tns:getParentOfRole"/>
      <output message="tns:getParentOfRoleResponse"/>
    </operation>
    <operation name="getFirstName">
      <input message="tns:getFirstName"/>
      <output message="tns:getFirstNameResponse"/>
    </operation>
    <operation name="getSurName">
      <input message="tns:getSurName"/>
      <output message="tns:getSurNameResponse"/>
    </operation>
    <operation name="getSizeOfRole">
      <input message="tns:getSizeOfRole"/>
      <output message="tns:getSizeOfRoleResponse"/>
    </operation>
    <operation name="accessObject">
      <input message="tns:accessObject"/>
      <output message="tns:accessObjectResponse"/>
    </operation>
    <operation name="getSystemID">
      <input message="tns:getSystemID"/>
      <output message="tns:getSystemIDResponse"/>
    </operation>
  </portType>
  <binding name="ServiceProxyBeanPortBinding" type="tns:ServiceProxyBeanDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAuthentication">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="changePassword">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getObjectInRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getObjectInUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAccessOfObjectRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAccessOfObjectUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getExcludeUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getIncludeUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getParentOfRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFirstName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSurName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSizeOfRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="accessObject">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSystemID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ServiceProxyBeanService">
    <port binding="tns:ServiceProxyBeanPortBinding" name="ServiceProxyBeanPort">
      <soap:address location="http://localhost:9083/IASWeb/ServiceProxyBeanService"/>
    </port>
  </service>
</definitions>