ServiceCenterProxy/appClientModule/wsdl/CBS1215I01_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
   targetNamespace="http://eai.kasikornbank.com/EAIWS/CBS1215I01/v2"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:s1="http://eai.kasikornbank.com/EAIWS/CBS1215I01/v2"
   elementFormDefault="qualified" attributeFormDefault="qualified">

   <xsd:element name="doService" type="s1:doService"/>
   <xsd:element name="doServiceResponse" type="s1:doServiceResponse"/>

   <xsd:complexType name="doService">
      <xsd:sequence>
         <xsd:element name="CBS1215I01" >
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" type="s1:stringLength30" nillable="true" />
                           <xsd:element name="rqUID" type="s1:stringLength47" nillable="true" />
                           <xsd:element name="rqDt" type="xsd:dateTime" nillable="true" />
                           <xsd:element name="rqAppId" type="s1:stringLength5" nillable="true" />
                           <xsd:element name="userId" type="s1:stringLength32" nillable="true" />
                           <xsd:element name="terminalId" type="s1:stringLength8" nillable="true" />
                           <xsd:element name="userLangPref" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="corrID" minOccurs="0" type="s1:stringLength32" nillable="true" />
                           <xsd:element name="authUserId" minOccurs="0" type="s1:stringLength15" nillable="true" />
                           <xsd:element name="authLevel" minOccurs="0" type="s1:intLength3" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CBSAccount" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="AcctId" type="s1:stringLength10" nillable="true" />
                           <xsd:element name="RetentionSitnCode" type="s1:stringLength10" nillable="true" />
                           <xsd:element name="RetentionType" minOccurs="0" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="SubTermNum" minOccurs="0" type="s1:stringLength3" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CBSNavCntrl" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="MaxRows" minOccurs="0" type="s1:intLength2" nillable="true" />
                           <xsd:element name="StartInd" minOccurs="0" type="s1:intLength3" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="doServiceResponse">
      <xsd:sequence>
         <xsd:element name="CBS1215I01Response" >
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" type="s1:stringLength30" nillable="true" />
                           <xsd:element name="rqUID" type="s1:stringLength47" nillable="true" />
                           <xsd:element name="rsAppId" type="s1:stringLength5" nillable="true" />
                           <xsd:element name="rsUID" type="s1:stringLength47" nillable="true" />
                           <xsd:element name="rsDt" type="xsd:dateTime" nillable="true" />
                           <xsd:element name="statusCode" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="errorVect" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="error" minOccurs="0" maxOccurs="10" >
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="errorAppId" type="s1:stringLength5" nillable="true" />
                                             <xsd:element name="errorAppAbbrv" type="s1:stringLength5" nillable="true" />
                                             <xsd:element name="errorCode" type="s1:stringLength30" nillable="true" />
                                             <xsd:element name="errorDesc" type="s1:stringLength256" nillable="true" />
                                             <xsd:element name="errorSeverity" type="s1:stringLength2" nillable="true" />
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="corrID" minOccurs="0" type="s1:stringLength32" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CBSAccount" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="AcctId" type="s1:stringLength10" nillable="true" />
                           <xsd:element name="retentionsObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="retentionsVect" minOccurs="0" >
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="CBSRetention" minOccurs="0" maxOccurs="50" >
                                                <xsd:complexType>
                                                   <xsd:sequence>
                                                      <xsd:element name="CancelAuthUserId" minOccurs="0" type="s1:stringLength15" nillable="true" />
                                                      <xsd:element name="CancelBranchDesc" minOccurs="0" type="s1:stringLength50" nillable="true" />
                                                      <xsd:element name="CancelBranchId" minOccurs="0" type="s1:stringLength4" nillable="true" />
                                                      <xsd:element name="CancelRetentionReason" minOccurs="0" type="s1:stringLength50" nillable="true" />
                                                      <xsd:element name="CancelUserId" minOccurs="0" type="s1:stringLength8" nillable="true" />
                                                      <xsd:element name="Concept" minOccurs="0" type="s1:stringLength100" nillable="true" />
                                                      <xsd:element name="CreateAuthUserId" minOccurs="0" type="s1:stringLength15" nillable="true" />
                                                      <xsd:element name="CurCode" type="s1:stringLength3" nillable="true" />
                                                      <xsd:element name="EntryOrigin" minOccurs="0" type="s1:stringLength50" nillable="true" />
                                                      <xsd:element name="IndexSeq" type="s1:intLength4" nillable="true" />
                                                      <xsd:element name="RetentionAmt" type="s1:decimalLength18frictions18_2" nillable="true" />
                                                      <xsd:element name="RetentionCancelDt" minOccurs="0" type="xsd:date" nillable="true" />
                                                      <xsd:element name="RetentionCancelTime" minOccurs="0" type="xsd:dateTime" nillable="true" />
                                                      <xsd:element name="RetentionCreateTime" type="xsd:dateTime" nillable="true" />
                                                      <xsd:element name="RetentionCreationDt" type="xsd:date" nillable="true" />
                                                      <xsd:element name="RetentionInd" type="s1:stringLength1" nillable="true" />
                                                      <xsd:element name="RetentionIndDesc" type="s1:stringLength10" nillable="true" />
                                                      <xsd:element name="RetentionMatDt" type="xsd:date" nillable="true" />
                                                      <xsd:element name="RetentionNum" type="s1:stringLength7" nillable="true" />
                                                      <xsd:element name="RetentionSitnCode" type="s1:stringLength10" nillable="true" />
                                                      <xsd:element name="RetentionType" type="s1:stringLength2" nillable="true" />
                                                      <xsd:element name="RetentionTypeDesc" type="s1:stringLength50" nillable="true" />
                                                      <xsd:element name="SubTermNum" minOccurs="0" type="s1:stringLength3" nillable="true" />
                                                      <xsd:element name="TransactionDt" type="xsd:date" nillable="true" />
                                                      <xsd:element name="TrnBranchId" type="s1:stringLength4" nillable="true" />
                                                      <xsd:element name="TrnBranchName" type="s1:stringLength50" nillable="true" />
                                                      <xsd:element name="UserId" type="s1:stringLength8" nillable="true" />
                                                   </xsd:sequence>
                                                </xsd:complexType>
                                             </xsd:element>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="TotalRetentionAmt" type="s1:decimalLength18frictions18_2" nillable="true" />
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CBSHeader" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="ReqAuthLevel" minOccurs="0" type="s1:intLength3" nillable="true" />
                           <xsd:element name="ReqAuthUserId" minOccurs="0" type="s1:stringLength15" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CBSNavCntrl" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="MoreDataInd" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="NumRec" type="s1:intLength2" nillable="true" />
                           <xsd:element name="TotalRec" type="s1:intLength3" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="decimalLength18frictions18_2">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="18" />
         <xsd:fractionDigits value="2" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="intLength2">
      <xsd:restriction base="xsd:int">
         <xsd:totalDigits value="2" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="intLength3">
      <xsd:restriction base="xsd:int">
         <xsd:totalDigits value="3" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="intLength4">
      <xsd:restriction base="xsd:int">
         <xsd:totalDigits value="4" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength1">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="1" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength10">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength100">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="100" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength15">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength2">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength256">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="256" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength3">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="3" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength30">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="30" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength32">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="32" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength4">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="4" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength47">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="47" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength5">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="5" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength50">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="50" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength7">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="7" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength8">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8" />
      </xsd:restriction>
   </xsd:simpleType>

</xsd:schema>

<!--
Generated on: Tue Oct 16 13:47:17 GMT+07:00 2012
Generated by: com.tfb.eai.util.tool.generator.wsdl.v2.WSDLGenerator, version: 1.9
Generated host: LN5462-497, IP: 172.20.10.2
-->
