ServiceCenterProxy/appClientModule/wsdl/CIS1048O01_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
   targetNamespace="http://eai.kasikornbank.com/EAIWS/CIS1048O01/v1"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:s1="http://eai.kasikornbank.com/EAIWS/CIS1048O01/v1"
   elementFormDefault="qualified" attributeFormDefault="qualified">

   <xsd:element name="doService" type="s1:doService"/>
   <xsd:element name="doServiceResponse" type="s1:doServiceResponse"/>

   <xsd:complexType name="doService">
      <xsd:sequence>
         <xsd:element name="CIS1048O01" >
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" type="s1:stringLength30" nillable="true" />
                           <xsd:element name="rqUID" type="s1:stringLength47" nillable="true" />
                           <xsd:element name="rqDt" type="xsd:dateTime" nillable="true" />
                           <xsd:element name="rqAppId" type="s1:stringLength5" nillable="true" />
                           <xsd:element name="userId" type="s1:stringLength32" nillable="true" />
                           <xsd:element name="terminalId" type="s1:stringLength8" nillable="true" />
                           <xsd:element name="userLangPref" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="corrID" minOccurs="0" type="s1:stringLength32" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CISHeader" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="userId" type="s1:stringLength6" nillable="true" />
                           <xsd:element name="hubNo" minOccurs="0" type="s1:stringLength4" nillable="true" />
                           <xsd:element name="brNo" minOccurs="0" type="s1:stringLength4" nillable="true" />
                           <xsd:element name="confirmFlag" minOccurs="0" type="s1:stringLength2" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CISCustomer" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="validationFlag" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="typeCode" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="num" type="s1:stringLength10" nillable="true" />
                           <xsd:element name="contactAddrObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="num" type="s1:stringLength15" nillable="true" />
                                    <xsd:element name="addrRelObj" minOccurs="0" >
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="addrRelsVect" minOccurs="0" >
                                                <xsd:complexType>
                                                   <xsd:sequence>
                                                      <xsd:element name="CISAddrRelation" minOccurs="0" maxOccurs="10" >
                                                         <xsd:complexType>
                                                            <xsd:sequence>
                                                               <xsd:element name="typeCode" type="s1:stringLength2" nillable="true" />
                                                            </xsd:sequence>
                                                         </xsd:complexType>
                                                      </xsd:element>
                                                   </xsd:sequence>
                                                </xsd:complexType>
                                             </xsd:element>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="acctNum" minOccurs="0" type="s1:stringLength20" nillable="true" />
                           <xsd:element name="prospectFlag" minOccurs="0" type="s1:stringLength1" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="doServiceResponse">
      <xsd:sequence>
         <xsd:element name="CIS1048O01Response" >
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" type="s1:stringLength30" nillable="true" />
                           <xsd:element name="rqUID" type="s1:stringLength47" nillable="true" />
                           <xsd:element name="rsAppId" type="s1:stringLength5" nillable="true" />
                           <xsd:element name="rsUID" type="s1:stringLength47" nillable="true" />
                           <xsd:element name="rsDt" type="xsd:dateTime" nillable="true" />
                           <xsd:element name="statusCode" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="errorVect" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="error" minOccurs="0" maxOccurs="10" >
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="errorAppId" type="s1:stringLength5" nillable="true" />
                                             <xsd:element name="errorAppAbbrv" type="s1:stringLength5" nillable="true" />
                                             <xsd:element name="errorCode" type="s1:stringLength30" nillable="true" />
                                             <xsd:element name="errorDesc" type="s1:stringLength256" nillable="true" />
                                             <xsd:element name="errorSeverity" type="s1:stringLength2" nillable="true" />
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="corrID" minOccurs="0" type="s1:stringLength32" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CISCustomer" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="num" type="s1:stringLength10" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="stringLength1">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="1" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength10">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength15">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength2">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength20">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="20" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength256">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="256" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength30">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="30" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength32">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="32" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength4">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="4" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength47">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="47" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength5">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="5" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength6">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="6" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength8">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8" />
      </xsd:restriction>
   </xsd:simpleType>

</xsd:schema>

<!--
Generated on: Thu Mar 24 10:24:24 ICT 2011
Generated by: com.tfb.eai.util.tool.generator.wsdl.v2.WSDLGenerator, version: 1.9
Generated host: lenovo-da721cb8, IP: 10.212.65.112
-->
