ServiceCenterProxy/appClientModule/wsdl/CIS1044U01_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
   targetNamespace="http://eai.kasikornbank.com/EAIWS/CIS1044U01/v1"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:s1="http://eai.kasikornbank.com/EAIWS/CIS1044U01/v1"
   elementFormDefault="qualified" attributeFormDefault="qualified">

   <xsd:element name="doService" type="s1:doService"/>
   <xsd:element name="doServiceResponse" type="s1:doServiceResponse"/>

   <xsd:complexType name="doService">
      <xsd:sequence>
         <xsd:element name="CIS1044U01" >
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" type="s1:stringLength30" nillable="true" />
                           <xsd:element name="rqUID" type="s1:stringLength47" nillable="true" />
                           <xsd:element name="rqDt" type="xsd:dateTime" nillable="true" />
                           <xsd:element name="rqAppId" type="s1:stringLength5" nillable="true" />
                           <xsd:element name="userId" type="s1:stringLength32" nillable="true" />
                           <xsd:element name="terminalId" type="s1:stringLength8" nillable="true" />
                           <xsd:element name="userLangPref" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="corrID" minOccurs="0" type="s1:stringLength32" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CISHeader" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="brNo" minOccurs="0" type="s1:stringLength4" nillable="true" />
                           <xsd:element name="confirmFlag" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="hubNo" minOccurs="0" type="s1:stringLength4" nillable="true" />
                           <xsd:element name="userId" type="s1:stringLength6" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CISIndivCust" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="addrOffCntctSameCde" minOccurs="0" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="asstExclLndAmt" minOccurs="0" type="s1:decimalLength17frictions17_2" nillable="true" />
                           <xsd:element name="brthDate" minOccurs="0" type="xsd:date" nillable="true" />
                           <xsd:element name="childCnt" minOccurs="0" type="s1:intLength2" nillable="true" />
                           <xsd:element name="cnstFlg" minOccurs="0" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="cnstSrcCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="cntctChnlMltCde" minOccurs="0" type="s1:stringLength20" nillable="true" />
                           <xsd:element name="contactAddrObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="amphur" minOccurs="0" type="s1:stringLength30" nillable="true" />
                                    <xsd:element name="building" minOccurs="0" type="s1:stringLength40" nillable="true" />
                                    <xsd:element name="cntryDesc" minOccurs="0" type="s1:stringLength2" nillable="true" />
                                    <xsd:element name="floor" minOccurs="0" type="s1:stringLength8" nillable="true" />
                                    <xsd:element name="mailNum" minOccurs="0" type="s1:stringLength15" nillable="true" />
                                    <xsd:element name="moo" minOccurs="0" type="s1:stringLength10" nillable="true" />
                                    <xsd:element name="name" minOccurs="0" type="s1:stringLength50" nillable="true" />
                                    <xsd:element name="poBox" minOccurs="0" type="s1:stringLength20" nillable="true" />
                                    <xsd:element name="postCode" minOccurs="0" type="s1:stringLength5" nillable="true" />
                                    <xsd:element name="preferedCode" minOccurs="0" type="s1:stringLength1" nillable="true" />
                                    <xsd:element name="province" minOccurs="0" type="s1:stringLength40" nillable="true" />
                                    <xsd:element name="road" minOccurs="0" type="s1:stringLength40" nillable="true" />
                                    <xsd:element name="room" minOccurs="0" type="s1:stringLength10" nillable="true" />
                                    <xsd:element name="soi" minOccurs="0" type="s1:stringLength40" nillable="true" />
                                    <xsd:element name="tumbol" minOccurs="0" type="s1:stringLength30" nillable="true" />
                                    <xsd:element name="village" minOccurs="0" type="s1:stringLength40" nillable="true" />
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="contactsObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="contactsVect" minOccurs="0" >
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="CISContact" minOccurs="0" maxOccurs="2" >
                                                <xsd:complexType>
                                                   <xsd:sequence>
                                                      <xsd:element name="locationCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                                                      <xsd:element name="phAvailTimeCde" minOccurs="0" type="s1:stringLength2" nillable="true" />
                                                      <xsd:element name="phExtNum" minOccurs="0" type="s1:stringLength30" nillable="true" />
                                                      <xsd:element name="phNum" minOccurs="0" type="s1:stringLength20" nillable="true" />
                                                      <xsd:element name="typeCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                                                      <xsd:element name="name" minOccurs="0" type="s1:stringLength50" nillable="true" />
                                                   </xsd:sequence>
                                                </xsd:complexType>
                                             </xsd:element>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="custSgmtCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="custTypeCode" minOccurs="0" type="s1:stringLength4" nillable="true" />
                           <xsd:element name="depositCode" minOccurs="0" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="docNum" minOccurs="0" type="s1:stringLength15" nillable="true" />
                           <xsd:element name="docTypeCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="eduLevelCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="empCnt" minOccurs="0" type="s1:intLength6" nillable="true" />
                           <xsd:element name="engFstName" minOccurs="0" type="s1:stringLength120" nillable="true" />
                           <xsd:element name="engLstName" minOccurs="0" type="s1:stringLength50" nillable="true" />
                           <xsd:element name="engMidName" minOccurs="0" type="s1:stringLength60" nillable="true" />
                           <xsd:element name="engTitle" minOccurs="0" type="s1:stringLength20" nillable="true" />
                           <xsd:element name="familyIncCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="frontReviewFlag" minOccurs="0" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="idCrdDesc" minOccurs="0" type="s1:stringLength60" nillable="true" />
                           <xsd:element name="idCrdExpDate" minOccurs="0" type="xsd:date" nillable="true" />
                           <xsd:element name="idCrdIssuDate" minOccurs="0" type="xsd:date" nillable="true" />
                           <xsd:element name="idCrdIssuPlaceDesc" minOccurs="0" type="s1:stringLength30" nillable="true" />
                           <xsd:element name="incomRang" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="KYCObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="compltDocFlg" minOccurs="0" type="s1:stringLength1" nillable="true" />
                                    <xsd:element name="compltDocKYCFlg" minOccurs="0" type="s1:stringLength1" nillable="true" />
                                    <xsd:element name="KYCBrchCode" minOccurs="0" type="s1:stringLength4" nillable="true" />
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="marrStatCode" minOccurs="0" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="menuAddCode" minOccurs="0" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="nationCode" minOccurs="0" type="s1:stringLength3" nillable="true" />
                           <xsd:element name="nmChgBookNum" minOccurs="0" type="s1:stringLength10" nillable="true" />
                           <xsd:element name="nmChgDate" minOccurs="0" type="xsd:date" nillable="true" />
                           <xsd:element name="nmChgResnCode" minOccurs="0" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="nmChgSeqNum" minOccurs="0" type="s1:stringLength10" nillable="true" />
                           <xsd:element name="num" type="s1:stringLength10" nillable="true" />
                           <xsd:element name="obsContactAddrObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="obsAddr1Txt" minOccurs="0" type="s1:stringLength70" nillable="true" />
                                    <xsd:element name="obsAddr2Txt" minOccurs="0" type="s1:stringLength105" nillable="true" />
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="obsOffclAddrObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="obsAddr1Txt" minOccurs="0" type="s1:stringLength70" nillable="true" />
                                    <xsd:element name="obsAddr2Txt" minOccurs="0" type="s1:stringLength105" nillable="true" />
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="occCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="offclAddrObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="amphur" minOccurs="0" type="s1:stringLength30" nillable="true" />
                                    <xsd:element name="building" minOccurs="0" type="s1:stringLength40" nillable="true" />
                                    <xsd:element name="cntryDesc" minOccurs="0" type="s1:stringLength2" nillable="true" />
                                    <xsd:element name="floor" minOccurs="0" type="s1:stringLength8" nillable="true" />
                                    <xsd:element name="mailNum" minOccurs="0" type="s1:stringLength15" nillable="true" />
                                    <xsd:element name="moo" minOccurs="0" type="s1:stringLength10" nillable="true" />
                                    <xsd:element name="name" minOccurs="0" type="s1:stringLength50" nillable="true" />
                                    <xsd:element name="poBox" minOccurs="0" type="s1:stringLength20" nillable="true" />
                                    <xsd:element name="postCode" minOccurs="0" type="s1:stringLength5" nillable="true" />
                                    <xsd:element name="preferedCode" minOccurs="0" type="s1:stringLength1" nillable="true" />
                                    <xsd:element name="province" minOccurs="0" type="s1:stringLength40" nillable="true" />
                                    <xsd:element name="road" minOccurs="0" type="s1:stringLength40" nillable="true" />
                                    <xsd:element name="room" minOccurs="0" type="s1:stringLength10" nillable="true" />
                                    <xsd:element name="soi" minOccurs="0" type="s1:stringLength40" nillable="true" />
                                    <xsd:element name="tumbol" minOccurs="0" type="s1:stringLength30" nillable="true" />
                                    <xsd:element name="village" minOccurs="0" type="s1:stringLength40" nillable="true" />
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="oldChildAgeCnt" minOccurs="0" type="s1:intLength2" nillable="true" />
                           <xsd:element name="othProfessDesc" minOccurs="0" type="s1:stringLength80" nillable="true" />
                           <xsd:element name="positionCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="professCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="profileObj" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="deathDate" minOccurs="0" type="xsd:date" nillable="true" />
                                    <xsd:element name="deathFlag" minOccurs="0" type="s1:stringLength1" nillable="true" />
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="prospectFlag" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="raceCode" minOccurs="0" type="s1:stringLength3" nillable="true" />
                           <xsd:element name="religionCode" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="reverseFlag" minOccurs="0" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="sexCode" minOccurs="0" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="svcBrchCode" minOccurs="0" type="s1:stringLength4" nillable="true" />
                           <xsd:element name="taxNum" minOccurs="0" type="s1:stringLength13" nillable="true" />
                           <xsd:element name="TFBBusTypeCode" minOccurs="0" type="s1:stringLength9" nillable="true" />
                           <xsd:element name="thFstName" minOccurs="0" type="s1:stringLength120" nillable="true" />
                           <xsd:element name="thLstName" minOccurs="0" type="s1:stringLength50" nillable="true" />
                           <xsd:element name="thMidName" minOccurs="0" type="s1:stringLength60" nillable="true" />
                           <xsd:element name="thTitle" minOccurs="0" type="s1:stringLength20" nillable="true" />
                           <xsd:element name="titleNameCode" minOccurs="0" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="typeCode" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="validationFlag" minOccurs="0" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="VIPCode" minOccurs="0" type="s1:stringLength1" nillable="true" />
                           <xsd:element name="workStartDate" minOccurs="0" type="xsd:date" nillable="true" />
                           <xsd:element name="youngChildAgeCnt" minOccurs="0" type="s1:intLength2" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="doServiceResponse">
      <xsd:sequence>
         <xsd:element name="CIS1044U01Response" >
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" type="s1:stringLength30" nillable="true" />
                           <xsd:element name="rqUID" type="s1:stringLength47" nillable="true" />
                           <xsd:element name="rsAppId" type="s1:stringLength5" nillable="true" />
                           <xsd:element name="rsUID" type="s1:stringLength47" nillable="true" />
                           <xsd:element name="rsDt" type="xsd:dateTime" nillable="true" />
                           <xsd:element name="statusCode" type="s1:stringLength2" nillable="true" />
                           <xsd:element name="errorVect" minOccurs="0" >
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="error" minOccurs="0" maxOccurs="10" >
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element name="errorAppId" type="s1:stringLength5" nillable="true" />
                                             <xsd:element name="errorAppAbbrv" type="s1:stringLength5" nillable="true" />
                                             <xsd:element name="errorCode" type="s1:stringLength30" nillable="true" />
                                             <xsd:element name="errorDesc" type="s1:stringLength256" nillable="true" />
                                             <xsd:element name="errorSeverity" type="s1:stringLength2" nillable="true" />
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="corrID" minOccurs="0" type="s1:stringLength32" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CISCustomer" minOccurs="0" >
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="num" type="s1:stringLength10" nillable="true" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="decimalLength17frictions17_2">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="17" />
         <xsd:fractionDigits value="2" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="intLength2">
      <xsd:restriction base="xsd:int">
         <xsd:totalDigits value="2" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="intLength6">
      <xsd:restriction base="xsd:int">
         <xsd:totalDigits value="6" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength1">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="1" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength10">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength105">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="105" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength120">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="120" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength13">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="13" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength15">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength2">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength20">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="20" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength256">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="256" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength3">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="3" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength30">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="30" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength32">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="32" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength4">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="4" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength40">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="40" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength47">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="47" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength5">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="5" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength50">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="50" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength6">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="6" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength60">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="60" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength70">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="70" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength8">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength80">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="80" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength9">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="9" />
      </xsd:restriction>
   </xsd:simpleType>

</xsd:schema>

<!--
Generated on: Tue Sep 12 10:43:49 ICT 2017
Generated by: com.tfb.eai.util.tool.generator.wsdl.v2.WSDLGenerator, version: 1.9
Generated host: K17SRV3583400, IP: 10.215.196.185
-->
