ServiceCenterProxy/appClientModule/wsdl/CVRS1312I01_v1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://eai.kasikornbank.com/EAIWS/CVRS1312I01/v1" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:s1="http://eai.kasikornbank.com/EAIWS/CVRS1312I01/v1">

   <xsd:element ibmSchExtn:docRoot="true" name="doService" type="s1:doService"/>
   <xsd:element ibmSchExtn:docRoot="true" name="doServiceResponse" type="s1:doServiceResponse"/>

   <xsd:complexType name="doService">
      <xsd:sequence>
         <xsd:element name="CVRS1312I01">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="funcNm" nillable="true" type="s1:stringLength30"/>
                           <xsd:element name="rqUID" nillable="true" type="s1:stringLength47"/>
                           <xsd:element name="rqDt" nillable="true" type="xsd:dateTime"/>
                           <xsd:element name="rqAppId" nillable="true" type="s1:stringLength5"/>
                           <xsd:element name="userId" nillable="true" type="s1:stringLength32"/>
                           <xsd:element name="terminalId" nillable="true" type="s1:stringLength8"/>
                           <xsd:element minOccurs="0" name="userLangPref" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="corrID" nillable="true" type="s1:stringLength32"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CVRSInfo">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="brthDate" nillable="true" type="xsd:date"/>
                           <xsd:element minOccurs="0" name="cntryCode" nillable="true" type="s1:stringLength2"/>
                           <xsd:element minOccurs="0" name="docNum" nillable="true" type="s1:stringLength15"/>
                           <xsd:element minOccurs="0" name="engFstName" nillable="true" type="s1:stringLength120"/>
                           <xsd:element minOccurs="0" name="engLstName" nillable="true" type="s1:stringLength50"/>
                           <xsd:element minOccurs="0" name="engMidName" nillable="true" type="s1:stringLength60"/>
                           <xsd:element minOccurs="0" name="nationCode" nillable="true" type="s1:stringLength3"/>
                           <xsd:element minOccurs="0" name="thFstName" nillable="true" type="s1:stringLength120"/>
                           <xsd:element minOccurs="0" name="thLstName" nillable="true" type="s1:stringLength50"/>
                           <xsd:element minOccurs="0" name="thMidName" nillable="true" type="s1:stringLength60"/>
                           <xsd:element name="typeCode" nillable="true" type="s1:stringLength1"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="doServiceResponse">
      <xsd:sequence>
         <xsd:element name="CVRS1312I01Response">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="KBankHeader">
                     <xsd:complexType>
                        <xsd:sequence>
                        	<xsd:element name="funcNm" nillable="true"
                        		type="s1:stringLength30" />
                        	<xsd:element name="rqUID" nillable="true"
                        		type="s1:stringLength47" />
                        	<xsd:element name="rsAppId" nillable="true"
                        		type="s1:stringLength5" />
                        	<xsd:element name="rsUID" nillable="true"
                        		type="s1:stringLength47" />
                        	<xsd:element name="rsDt" nillable="true"
                        		type="xsd:dateTime" />
                        	<xsd:element name="statusCode"
                        		nillable="true" type="s1:stringLength2" />
                        	<xsd:element minOccurs="0"
                        		name="errorVect">
                        		<xsd:complexType>
                        			<xsd:sequence>
                        				<xsd:element maxOccurs="10"
                        					minOccurs="0" name="error">
                        					<xsd:complexType>
                        						<xsd:sequence>
                        							<xsd:element
                        								name="errorAppId" nillable="true"
                        								type="s1:stringLength5" />
                        							<xsd:element
                        								name="errorAppAbbrv" nillable="true"
                        								type="s1:stringLength5" />
                        							<xsd:element
                        								name="errorCode" nillable="true"
                        								type="s1:stringLength30" />
                        							<xsd:element
                        								name="errorDesc" nillable="true"
                        								type="s1:stringLength256" />
                        							<xsd:element
                        								name="errorSeverity" nillable="true"
                        								type="s1:stringLength2" />
                        						</xsd:sequence>
                        					</xsd:complexType>
                        				</xsd:element>
                        			</xsd:sequence>
                        		</xsd:complexType>
                        	</xsd:element>
                        	<xsd:element minOccurs="0" name="corrID"
                        		nillable="true" type="s1:stringLength32" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="CVRSInfo">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="regulsObj">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" name="regulsVect">
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element maxOccurs="4" minOccurs="0" name="CVRSRegulation">
                                                <xsd:complexType>
                                                   <xsd:sequence>
                                                      <xsd:element minOccurs="0" name="subTypCode" nillable="true" type="s1:stringLength2"/>
                                                      <xsd:element minOccurs="0" name="typCode" nillable="true" type="s1:stringLength2"/>
                                                   </xsd:sequence>
                                                </xsd:complexType>
                                             </xsd:element>
                                          </xsd:sequence>
                                       </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="totRegulCnt" nillable="true" type="s1:intLength2"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="sanctionFlg" nillable="true" type="s1:stringLength1"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:simpleType name="intLength2">
      <xsd:restriction base="xsd:int">
         <xsd:totalDigits value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength1">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength120">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="120"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength15">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength2">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength256">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="256"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength3">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength30">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength32">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="32"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength47">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="47"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength5">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="5"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength50">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="50"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength60">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="60"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stringLength8">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8"/>
      </xsd:restriction>
   </xsd:simpleType>

</xsd:schema><!--
Generated on: Tue Jun 24 11:36:37 ICT 2014
Generated by: com.tfb.eai.util.tool.generator.wsdl.v2.WSDLGenerator, version: 1.9
Generated host: OPSC_TeerawatP, IP: 172.20.10.2
-->