ServiceCenterProxy/appClientModule/wsdl/KBKInstinctFraudCheck.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InstinctFraudCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestOnline" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestOnline">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FraudCheckFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InputString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LegacyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestDttm" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InstinctFraudCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InstinctFraudCheckResult" type="tns:ResponseOnline" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseOnline">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FraudResult" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RuleTriggers" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponeDttm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDesc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InquiryFraudResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestOnline" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InquiryFraudResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InquiryFraudResultResult" type="tns:ResponseOnline" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InstinctFraudCheckSoapIn">
    <wsdl:part name="parameters" element="tns:InstinctFraudCheck" />
  </wsdl:message>
  <wsdl:message name="InstinctFraudCheckSoapOut">
    <wsdl:part name="parameters" element="tns:InstinctFraudCheckResponse" />
  </wsdl:message>
  <wsdl:message name="InquiryFraudResultSoapIn">
    <wsdl:part name="parameters" element="tns:InquiryFraudResult" />
  </wsdl:message>
  <wsdl:message name="InquiryFraudResultSoapOut">
    <wsdl:part name="parameters" element="tns:InquiryFraudResultResponse" />
  </wsdl:message>
  <wsdl:portType name="KBKInstinctFraudCheckSoap">
    <wsdl:operation name="InstinctFraudCheck">
      <wsdl:input message="tns:InstinctFraudCheckSoapIn" />
      <wsdl:output message="tns:InstinctFraudCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InquiryFraudResult">
      <wsdl:input message="tns:InquiryFraudResultSoapIn" />
      <wsdl:output message="tns:InquiryFraudResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KBKInstinctFraudCheckSoap" type="tns:KBKInstinctFraudCheckSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InstinctFraudCheck">
      <soap:operation soapAction="http://tempuri.org/InstinctFraudCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InquiryFraudResult">
      <soap:operation soapAction="http://tempuri.org/InquiryFraudResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KBKInstinctFraudCheckSoap12" type="tns:KBKInstinctFraudCheckSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InstinctFraudCheck">
      <soap12:operation soapAction="http://tempuri.org/InstinctFraudCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InquiryFraudResult">
      <soap12:operation soapAction="http://tempuri.org/InquiryFraudResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KBKInstinctFraudCheck">
    <wsdl:port name="KBKInstinctFraudCheckSoap" binding="tns:KBKInstinctFraudCheckSoap">
      <soap:address location="https://172.30.149.185:7443/KBKInstinctFraudCheck.asmx" />
    </wsdl:port>
    <wsdl:port name="KBKInstinctFraudCheckSoap12" binding="tns:KBKInstinctFraudCheckSoap12">
      <soap12:address location="https://172.30.149.185:7443/KBKInstinctFraudCheck.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>